<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip PLanner</title>
    <style></style>
</head>
<body>
    <form method="POST">
    <input required type="search" name="origin_city" id="input-map1" class="form-control" placeholder="FROM">
    <input required type="search" name="destination_city" id="input-map2" class="form-control" placeholder="TO">
    <input type="text" class="form-control" name="origin" id="origin" style="display: none;">
    <input type="text" class="form-control" name="destination" id="destination" style="display: none;">
    <label for="departureDate">Departure Date</label><input required type="date" name="departureDate">
    <label for="returnDate">Return Date</label><input required type="date" name="returnDate">
        <input type="submit" href="#data" name="submit_button" value="SUBMIT">
    </form>
    <hr><hr>
    <h3>
      {% if message %}
        {{ message }}
      {% endif %}
    </h3>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script src="{{url_for('static', filename='script.js')}}">
    
</script>
</body>
</html>