<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip PLanner-Tester</title>
    <style>
        *{
            margin: 0;
            font-family: 'courier';
        }
        .image{
            width: 100vw;
            height: 15vh;
        }
        #data{
            display: flex;
            align-items: center;
            flex-direction: columns;
            flex-wrap: wrap;
            padding: 20px;
            justify-content: center;
        }
        .card{padding: 10px; margin: 10px;background-color: steelblue; border-radius: 25px; border: 2px solid steelblue;width: 350px;color: white;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);}
    </style>
</head>
<body>
    <div class="image">
        <img class="img" src="../static/bg1.jpg" alt="" style="width: 100vw;height: 60vh;">
    </div>
    <br>
    <center><h1 style="font-size: 4rem;">Flights</h1></center>
    <br>
    <div id="data">
        <div class="card">
            <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
            <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
            <h3>Departure Date - 2332-32-32</h3>
            <h3>Departure Time - 12:34:43</h3>
            <h3>Arrival Date - 2332-32-32</h3>
            <h3>Arrival Time - 12:34:43</h3>
            <h3>
                Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
            </h3>
            <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
            <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
            <h3>
            Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                        <option value="Rupees">Rupees</option>
                        <option value="Dollars">Dolars</option>
                        <option value="Euros">Euros</option>
                    </select>
            </h3>
            <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
            <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
        </div>
      
        <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div>
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a target="_blank" href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
            <div class="card">
                <h3>Origin - kjvbjfbdsvib (Terminal - 23))</h3>
                <h3>Destination - jbfahjvdvjb(Terminal - 23))</h3>
                <h3>Departure Date - 2332-32-32</h3>
                <h3>Departure Time - 12:34:43</h3>
                <h3>Arrival Date - 2332-32-32</h3>
                <h3>Arrival Time - 12:34:43</h3>
                <h3>
                    Airlines - <img src="{{ flight['validatingAirlineCodes'][0][2] }}"" alt="">dfsgdfhsgh
                </h3>
                <h3>No. of bookable seats - <span style="color: red;">23</span></h3>
                <h3>Last Date to book tickets - <span style="color: red;">2332-32-32</span></h3>
                <h3>
                Price - 2222<select name="currency" id="currency" style="background-color: grey; border-radius: 2px; cursor: pointer;">
                            <option value="Rupees">Rupees</option>
                            <option value="Dollars">Dolars</option>
                            <option value="Euros">Euros</option>
                        </select>
                </h3>
                <center><h3><a target="_blank" href="{{ flight['website'] }}">Book Now</a></h3></center>
                <small>Already have a ticket? Check-In - <a target="_blank" href="{{ flight['validatingAirlineCodes'][0][0] }}">Check In</a></small>
            </div> 
      </div>
</body>
</html>