@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.upper {
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d1f0ff;
}
.weather {
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.weather-ke-andar {
  position: relative;
  left: -300px;
  bottom: -50px;
}

.flights-container {
  position: relative;
  width: 100vw;
  background-color: #d1f0ff;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cloud-line {
  position: absolute;
  z-index: 5;
}
.cloud-line2 {
  position: absolute;
  background-color: transparent;
  z-index: 5;
}

.clouds1 {
  position: relative;
  z-index: 1;
  top: 16rem;
  animation: fly 6s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}

.clouds2 {
  position: relative;
  z-index: 1;
  top: 22rem;
  animation: fly 4s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds3 {
  position: relative;
  z-index: 1;
  top: 32rem;
  animation: fly 3s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds4 {
  position: relative;
  z-index: 1;
  top: 27rem;
  animation: fly 5s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds5 {
  position: relative;
  z-index: 1;
  top: 36rem;
  animation: fly 4s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(80%);
  }
}
.clouds6 {
  position: relative;
  z-index: 1;
  top: 46rem;
  animation: fly 5s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds7 {
  position: relative;
  z-index: 1;
  top: 50rem;
  animation: fly 6s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds8 {
  position: relative;
  z-index: 1;
  top: 38rem;
  animation: fly 6s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds9 {
  position: relative;
  z-index: 1;
  top: 60rem;
  animation: fly 5s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
.clouds10 {
  position: relative;
  z-index: 1;
  top: 65rem;
  animation: fly 7s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%);
  }
}
#aeroplane {
  position: relative;
  left: 25vw;
  align-items: center;
  justify-content: center;
  animation: clouds 1s infinite alternate;
  z-index: 3;
}

@keyframes clouds {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(5px);
  }
}
.ticket-svgs {
  width: 100vw;
  background-color: #d1f0ff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ticket1 {
  margin: 2rem 3rem;
  animation: ticket1 1s infinite alternate;
  z-index: 4;
}

.ticket {
  margin: 3rem;
  animation: ticket 1s infinite alternate;
  z-index: 4;
}
@keyframes ticket {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes ticket1 {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
#minutes {
  transform-origin: bottom;
  transform-box: fill-box;
}
#hours {
  transform-origin: bottom;
  transform-box: fill-box;
}
#seconds {
  transform-origin: bottom;
  transform-box: fill-box;
}
.destination {
  width: 100vw;
  /*height: 120vh;*/
  background-color: #d1f0ff;
  align-items: center;
}
.building {
  width: 100vw;
}
.monuments {
  width: 100vw;
}

.main-ticket {
  position: relative;
}

.info {
  display: flex;
  position: absolute;
  color: white;
  background-color: transparent;
  top: 0%;
  left: 2%;
  width: 400px;
  height: 150px;
}

.info2 {
  display: flex;
  position: absolute;
  color: white;
  background-color: transparent;
  right: -4%;
  top: 0%;
  width: 400px;
  height: 150px;
}

.info.ticket {
  animation: ticket 1s infinite alternate;
}

.info.ticket1 {
  animation: ticket1 1s infinite alternate;
}

.details {
  width: 70%;
  height: 100%;
  margin-left: 15px;
}

.airports {
  width: 30%;
  height: 100%;
}

.from,
.to {
  position: relative;
  right: 12px;
  height: 50%;
}

.details,
.details2 {
  color: #000;
}

.details div {
  height: 20%;
  width: 100%;
}
.details2 div {
  height: 20%;
  width: 100%;
  right: 20vw;
  margin-right: 15px;
}

.departure {
  margin-top: 5px;
}

#time {
  transform: translateX(30px);
}

.hotels-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tip {
  position: absolute;
  width: 100%;
}

.price {
  cursor: pointer;
}

#key {
  transform-origin: top right;
  transform-box: fill-box;
  animation: key 2s infinite alternate;
}
#tag3 {
  transform-origin: left;
  transform-box: fill-box;
  animation: tag 4s infinite alternate;
}
@keyframes tag {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

@keyframes key {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.map {
  overflow: hidden;
  margin: auto;
  border-radius: 23px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.box {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 15px;
}

@media (max-width: 1000px) {
  .weather {
    transform: translateX(50px);
    margin-top: 20px;
    margin-bottom: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .weather-ke-andar {
    position: relative;
    left: -250px;
    bottom: -50px;
  }
  #aeroplane {
    position: relative;
    left: 0vw;
    align-items: center;
    justify-content: center;
    animation: clouds 1s infinite alternate;
    z-index: 3;
  }
  .map {
    margin-top: 20px;
    margin-right: 45px;
  }
  .box {
    padding: 15px;
  }
}
